### .gitignore
### ************************************************************************ ###
### set .gitgnore for "nptf: null project to fork"
### Pierre GRANDEMANGE
### 17/11/2022
### ************************************************************************ ###

### .o files
*.o

### executable file ".rep"
*.rep
